body {
 overflow: hidden;
}
body > .container {
 padding: 0;
 max-width: 100vw;
 width: 100%;
}
.notvisible {
 opacity: 0;
 transition: opacity 0.5s;
}
.keepreading {
 animation: shake 0.5s ease-in infinite alternate;
 position: absolute;
 bottom: 30vh;
 left: 5vw;
}
@keyframes shake {
 from {
  transform:translateY(-10px);}
 to {
  transform:translateY(10px);}
}
.container > .row {
 width: 100vw;
 height: 100vh;
 margin: 0px;
 overflow: hidden;
}
.section-holder {
 width: 100%;
 height: 100%;
 overflow-y: scroll;
 scroll-behavior: smooth;
 scroll-snap-type: y mandatory;
}
section {
 display: flex;
 flex-direction: column;
 /*align-items: center;*/
 /* justify-content: center;*/
 text-align: left;
 width: 100vw;
 height: 100vh;
 padding-top: 60px;
 padding-bottom: 60px;
 scroll-snap-align: center;
}
section > .ctr {
 margin-bottom: 60px;
 padding: 1rem;
}
